<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }
        .course {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .course h2 {
            margin-top: 10px;
        }
        .course p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Available Courses</h1>
    <div class="course">
        <h2>Introduction to Programming</h2>
        <p>Instructor: Pramitha Venishetti</p>
        <p>Description: Learn the basics of programming with this introductory course.</p>
        <p>Duration: 4 weeks</p>
        <p>Price: Free</p>
        <a href="https://www.youtube.com/watch?v=zOjov-2OZ0E&pp=ygUaaW50cm9kdWN0aW9uIHRvIHByb2dyYW1pbmc%3D">TO WATCH THE TUTORIALS</a>
    </div>
    <div class="course">
        <h2>Introduction to HTML</h2>
        <p>Instructor: Vulli Harshitha</p>
        <p>Description: Dive into the world of HTML with this inductory course.</p>
        <p>Duration: 6 weeks</p>
        <p>Price: Free</p>
        <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU&pp=ygUUaW50cm9kdWN0aW9uIHRvIEhUTUw%3D">TO WATCH THE TUTORIALS</a>
    </div>
    <div class="course">
        <h2>Introduction to CSS</h2>
        <p>Instructor: Mallam Chaitanya</p>
        <p>Description: Learn the basics of CSS.</p>
        <p>Duration: 2 weeks</p>
        <p>Price: Free</p>
        <a href="https://www.youtube.com/watch?v=qKoajPPWpmo&pp=ygUTaW50cm9kdWN0aW9uIHRvIENTUw%3D%3D">TO WATCH THE TUTORIALS</a>
    </div>
    <div class="course">
        <h2>Introduction to DJANGO</h2>
        <p>Instructor: Yarlagadda Tejaswini</p>
        <p>Description: Learn the basics of DJANGO using (HTML,CSS,PYTHON).</p>
        <p>Duration: 2 weeks</p>
        <p>Price: Free</p>
        <a href="https://www.youtube.com/watch?v=rHux0gMZ3Eg&pp=ygUWaW50cm9kdWN0aW9uIHRvIGRqYW5nbw%3D%3D">TO WATCH THE TUTORIALS</a>
    </div>
    <div class="course">
        <h2>Introduction to REACT using JAVASCRIPT</h2>
        <p>Instructor: Chandan Sai Palaparthi</p>
    </div>
        <p>Description: Learn the basics of REACT with this inductory course.</p>
        <p>Duration: 3 weeks</p>
        <p>Price: Free</p>
        <a href="https://www.youtube.com/watch?v=SqcY0GlETPk&pp=ygUVaW50cm9kdWN0aW9uIHRvIHJlYWN0">TO WATCH THE TUTORIALS</a>
    </div>
</body>
</html>
